<div class="author-container">
    <div class="author-profile">
      <img src="hospital.jpg"  class="profile-picture">
      <div class="cv">
        <p>Ivana Zebic</p>
        <p>Fakultetu tehnickih nauka</p>
        <p>Inzenjerstvo informacionih sistema-IT</p>
      </div>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/ivana-zebi%C4%87/" target="_blank"><i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
        <a href="https://www.instagram.com/zebic.i/" target="_blank"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
        <a href="https://github.com/Ivana-Zebic" target="_blank"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
      </div>
    </div>
  </div>
  