<div class="about-container">
    <h1>Razvoj višeslojnih aplikacija</h1>
    <div class="about-content">
      <p>
        Zadatak projekat je bio da se razvije višeslojna aplikacija na osnovu četiri klase: Bolnica, Dijagnoza,
         Odeljenje i Pacijent. Bolnica beleži podatke o nazivu, adresi i budžetu bolnice. Dijagnoza beleži podatke o nazivu,
         opisu i oznaci dijagnoze. Odeljenje beleži naziv, lokaciju i podatak u kojoj se bolnici to odeljenje nalazi. Pacijent
         beleži podatke kao što su ime i prezime pacijenta, da li poseduje zdravstveno osiguranje, datum rodjenja kao i podatke na kom odeljenju pacijent leži i koje dijagnoze poseduje.
      </p>
    </div>
    <button (click)="showMessage()"> Informacija </button>
</div>

 